.retrieve-posts-container {
  padding: 20px;
  background-color: #f5f5f5;
  margin-left: 5%;
  width: 90%;
  border-radius: 0.5rem;
  text-align: center;
}

.section-wrapper {
  display: flex;
  justify-content: center;
  font-size: small;
  gap: 1rem;
  margin-bottom: 20px;
  cursor: pointer;
}

/* Add bottom border to the active section title */
.section-title.active {
  border-bottom: 4px solid #51ff00;
  font-weight: 600;
  font-size: large;
  padding-bottom: 5px;
}

.job-post {
  background-color: #fff;
  border: 1px solid #ddd;
  margin-left: -2.5rem;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  list-style-type: none;
}

.job-header {
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.job-description {
  font-size: 16px;
  color: #333;
  white-space: pre-wrap;
  margin-bottom: 10px;
  text-align: left;
  display: block;
}

.job-description pre {
  margin: 0;
  white-space: pre-wrap;
}


.job-details {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 14px;
  color: #777;
  margin-bottom: 10px;
}

.exp,
.deadline {
  width: 100%;
  flex-basis: 35%;
  padding: 5px;
  box-sizing: border-box;
}

.workinghrs,
.salary {
  flex-basis: 35%;
  padding: 5px;
  box-sizing: border-box;
}

.job-actions {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

button {
  background-color: #0073e6;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #005bb8;
}

.handleButton {
  display: flex;
  gap: 0.5rem;
}

.job-post + .job-post {
  border-top: 1px solid #ddd;
}

@media (max-width: 768px) {
  .job-post {
    padding: 10px;
  }

  .title {
    font-size: 18px;
    text-align: left;
  }

  .exp,
  .deadline,
  .workinghrs,
  .salary {
    flex-basis: 35%;
  }

  .job-description {
    font-size: 0.8rem;
  }

  .job-details {
    font-size: 12px;
  }

  .job-actions button {
    padding: 6px 12px;
  }

  .postDetails {
    font-size: 9px;
  }
}

.pending-applications-popup {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  top: 100%; /* Adjust this value based on your layout */
  left: 0; /* Adjust this value based on your layout */
  z-index: 1000;
}