/* Chat Circle */
#chat-circle {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    margin-left: 78rem;
    margin-bottom: 2rem;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #ff014fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
  }
  
  #chat-circle:hover {
    transform: scale(1.1);
  }
  
  #chat-circle.scale {
    transform: scale(0);
  }
  
  #chat-circle i {
    color: #fff;
  }
  
  /* Chat Box */
  .chat-box {
    position: fixed;
    bottom: 90px;
    right: 20px;
    width: 320px;
    height: 400px;
    background-color: #fff;
    box-shadow: -0.2rem -0.5rem 1rem 0.2rem rgba(92, 179, 182, 0.8);
    border-radius: 10px;
    overflow: hidden;
    display: none;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
  }
  
  .chat-box.scale {
    transform: scale(0);
  }
  
  .chat-box-header {
    background-color: #5700e6;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .chat-box-toggle {
    cursor: pointer;
    color: #f5f5f5;
  }
  
  .chat-box-body {
    flex: 1;
    position: relative;
    padding-top: 18rem;
  }
  
  .chat-box-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: none;
  }
  
  .chat-box.show .chat-box-overlay {
    display: block;
  }
  
  .chat-logs {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 60px;
    padding: 10px;
    overflow-y: scroll;
    z-index: 2;
  }
  
  .chat-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 10px;
    background-color: #f5f5f5;
  }
  
  .chat-input form {
    display: flex;
    flex: 1;
  }
  
  .chat-input input {
    flex: 1;
    height: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 0 10px;
  }
  
  .chat-input button {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 20px;
    color: #ff014fff;
  }
  
  .chat-box-body .chat-logs {
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
  }
  
  .chat.self {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
  }
  
  .expand-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 120px;
    height: 40px;
    background-color: #ff014fff;
    border-radius: 5px;
    color: #fff;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .expand-button.show {
    display: flex;
  }
  
  .expand-button:hover {
    background-color: #f500deff;
  }
  