.link {
    color: #77b5fe;
    margin-left: 35px;
}

.link:hover {
    color: #ff3300;
}

p {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
}

h4 {
    font-weight: 600;
    color: #77b5fe;
}

.card-front,
.card-back {
    margin-top: 7.5%;
    margin-left: 35%;
    width: 30%;
    height: 80%;
    box-shadow: 10px 5px 5px rgb(141, 141, 141);
    background-color: #ffffff;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 300%;
    position: absolute;
    border-radius: 8px;
    left: 0;
    top: 0;
}

.center-wrap {
    position: absolute;
    width: 100%;
    padding: 0 35px;
    top: 50%;
    left: 0;
    transform: translate3d(0, -50%, 35px) perspective(100px);
}

.form-group {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
}

.form-style {
    padding: 13px 20px;
    padding-left: 55px;
    height: 48px;
    width: 100%;
    font-weight: 500;
    border-radius: 4px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.5px;
    outline-offset: 1px;
    color: #1ea4f1;
    background-color: #ffffff;
    border: none;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    box-shadow: 0 4px 8px 0 rgba(21, 21, 21, .2);
}

.form-check{
    align-items: center;
    display: flex;
    flex-direction: row;
}

.text-remember{
    margin-top: 23px;
    margin-left: 10px;
}

.form-checkbox{
    margin-top: 7px;
}

.form-checkbox #color-gradient {
    color: #1ea4f1;
}

.side{
    align-items: center;
    display: flex;
    flex-direction: row;
}

.input-icon {
    position: absolute;
    top: 0;
    left: 18px;
    height: 48px;
    font-size: 24px;
    line-height: 48px;
    text-align: left;
    color: #000000a8;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.form-group input:-ms-input-placeholder {
    color: #000000;
    opacity: 0.7;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.form-group input::-moz-placeholder {
    color: #000000;
    opacity: 0.7;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.form-group input:-moz-placeholder {
    color: #000000;
    opacity: 0.7;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.form-group input::-webkit-input-placeholder {
    color: #000000;
    opacity: 0.7;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.form-group input:focus:-ms-input-placeholder {
    opacity: 0;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.form-group input:focus::-moz-placeholder {
    opacity: 0;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.form-group input:focus:-moz-placeholder {
    opacity: 0;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.form-group input:focus::-webkit-input-placeholder {
    opacity: 0;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.btn {
    border-radius: 4px;
    height: 44px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    padding: 0 30px;
    letter-spacing: 1px;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    text-align: center;
    border: none;
    background-color: #77b5fe;
    color: #77b5fe;
    box-shadow: 0 8px 24px 0 rgba(255, 235, 167, .2);
}

.section .btn {
    background-color: #77b5fe;
    color: #a10ee6;
    border-color: linear-gradient(to right, #77b5fe, #a10ee6);
    ;
}

.section .btn:hover {
    background-color: #a10ee6;
    color: #77b5fe;
    border-color: linear-gradient(to right, #77b5fe, #a10ee6);
    ;
    outline-offset: 3px;
}

.logo {
    position: absolute;
    top: 1.5%;
    left: 0%;
    display: block;
    z-index: 100;
    transition: all 250ms linear;
}

.logo img {
    height: 65px;
    display: block;
}

.form-check [type="checkbox"]:checked,
.form-check [type="checkbox"]:not(:checked) {
    display: block;
}

.form-check label {
    color: #ff7300;
}

ul li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

ul li a {
    color: #77b5fe;
}

ul li a:hover {
    color: #ff1e00;
}

.or {
    color: #77b5fe;
    font-size: medium;
}

.join,
.login {
    color: #77b5fe;
}

.join:hover,
.login:hover {
    color: #ff3300;
}

/* toggle mode */

* {
    user-select: none;
}

.mode {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.mode .text{
    text-align: right;
    margin-top: -2.25%;
}

.mode #toggle {
    display: none;
}

.mode label {
    display: block;
    position: absolute;
    top: 6%;
    right: 5%;
    width: 110px;
    height: 50px;
    margin: 0 auto;
    background-color: #77b5fe;
    border-radius: 56px;
    transform: translateY(-50%);
    cursor: pointer;
    transition: 0.3s ease background-color;
    overflow: hidden;
}

#star {
    position: absolute;
    top: 12px;
    left: 12px;
    width: 25px;
    height: 25px;
    background-color: #fafd0f;
    transform: scale(0.75);
    border-radius: 50%;
    transition: 0.2s ease top, 0.2s ease left, 0.2s ease transform, 0.2s ease background-color;
    z-index: 1;
}

#star-1 {
    position: relative;
}

#star-2 {
    position: absolute;
    transform: rotateZ(36deg);
}

.star {
    top: -6px;
    left: -6px;
    font-size: 48px;
    line-height: 28px;
    color: #fafd0f;
    transition: 0.3s ease color;
}

#moon {
    position: absolute;
    bottom: -52px;
    right: 8px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    transition: 0.3s ease bottom;
}

#moon:before {
    content: "";
    position: absolute;
    top: -12px;
    left: -17px;
    width: 40px;
    height: 40px;
    background-color: #77b5fe;
    border-radius: 50%;
    transition: 0.3s ease background-color;
}

.mode #toggle:checked+label {
    background-color: #000;
}

.mode #toggle:checked+label #star {
    top: 3px;
    left: 64px;
    transform: scale(0.3);
    background-color: yellow;
}

.mode #toggle:checked+label .star {
    color: rgb(255, 255, 255);
}

.mode #toggle:checked+label #moon {
    bottom: 8px;
}

.mode #toggle:checked+label #moon:before {
    background-color: #000;
}

/*Dark mode changes*/
.dark-mode {
    background-color: rgb(15, 15, 34);
    color: white;
}

.dark-mode-outline,
.dark-mode-inline {
    background-color: rgb(15, 15, 34);
    color: white;
}

.dark-mode-card {
    background-color: rgb(29, 28, 46);
    color: white;
}

.dark-mode-social {
    color: #a10ee6;
}

@media only screen and (max-width:800px) {
    .form-checkbox {
        top: 10%;
        width: 45%;
        height: 55%;
    }

    .logo {
        top: -0.5%;
        left: 1%;
    }

    .mode label {
        margin-top: -15px;
        width: 80px;
        height: 40px;
    }

    .mode .text{
        margin-top: -6%;
        margin-right: 4.5%;
    }
}