.user-profiles-container {
    max-width: 55rem;
    font-weight: 450;
    margin: auto;
  }
  
  .user-list {
    display: flex;
    flex-direction: column;
    align-items: right; 
  } 
  
  .user-card, .user-info, .headUser {
    width: 65vw;
    background: linear-gradient(#00121B, #000102);
    transform-style: preserve-3d;
    box-shadow: inset 0 -0.5rem 1rem rgba(0, 18, 27, 0.5), inset 0 0 1rem rgba(127, 255, 212, 0.3);
    border: 0.25px solid rgba(127, 255, 212, 0.5);
    flex: 1 1 0;
    color: #7FFFD4;
    text-shadow: 0 0 0.5rem rgba(128, 255, 128, 0.6);

  }

  .user-info, .headUser {
    transform-style: preserve-3d;
    box-shadow: inset 0 -0.5rem 1rem rgba(0, 18, 27, 0.5), inset 0 0 1rem rgba(127, 255, 212, 0.3);
    width: 65vw;
    font-weight: 900;
    color: #80FF80;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    width: 65vw;
    align-items: center; 
    justify-content: center;
    padding: 0.5rem;
    background: linear-gradient(#00121B, #000102);
  }
  
   .headUser{
    text-shadow: 0 0 0.5rem rgba(128, 255, 128, 0.6);
    font-weight: 600;
    text-transform: uppercase;
   } 

  .numberUser,
  .nameUser,
  .emailUser,
  .createdUser {
    text-align: left;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    align-self: self-end;
  }
  
  