.user-profiles-container {
  max-width: 100%; /* Use full width */
  width: 90%; /* Use 90% of the available width */
  font-weight: 450;
  margin: auto;
  padding: 1rem; /* Add some padding */
  background-color: #f9fafb; /* Light gray background */
  border-radius: 0.5rem; /* Rounded corners */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.user-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the left */
  width: 100%; /* Full width */
}

.user-card, .user-info, .headUser  {
  width: 100%; /* Full width */
  background-color: #ffffff; /* White background */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  border: 1px solid rgba(0, 0, 0, 0.1); /* Light border */
  flex: 1 1 auto; /* Allow to grow */
  color: #000000; /* Black text for better readability */
  margin-bottom: 1rem; /* Space between cards */
}

.user-info, .headUser  {
  width: 100%; /* Full width */
  font-weight: 700; /* Bold text */
  color: #000000; /* Black text for better readability */
  padding: 0.75rem; /* More padding for better spacing */
  display: flex;
  flex-direction: row;
  align-items: center; 
  justify-content: space-between; /* Space between items */
  background-color: #f1f5f9; /* Light gray background for headers */
}

.headUser  {
  font-weight: 600; /* Semi-bold for headers */
  text-transform: uppercase; /* Uppercase text */
}

.numberUser ,
.nameUser ,
.emailUser ,
.createdUser  {
  text-align: left;
  width: 100%; /* Full width */
  padding: 0.5rem 1rem; /* Padding for all sides */
  color: #000000; /* Black color for user info */
}

button {
  padding: 0.5rem 1rem; /* Padding for buttons */
  border-radius: 0.25rem; /* Rounded corners */
  cursor: pointer; /* Pointer cursor */
  border: 1px solid red; /* Red border */
  background-color: white; /* White background */
  color: red; /* Red text color */
  font-weight: 600; /* Bold text for buttons */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
}

button:hover {
  background-color: rgba(255, 0, 0, 0.1); /* Light red background on hover */
  color: #000000; /* Change text color to black on hover for better contrast */
}


/* Responsive Styles */
@media (max-width: 768px) {
  .user-card, .user-info, .headUser  {
      flex-direction: column; /* Stack items vertically on smaller screens */
      align-items: flex-start; /* Align items to the left */
  }

  .user-info, .headUser  {
      justify-content: flex-start; /* Align items to the left */
  }

  button {
      width: 100%; /* Full width buttons on smaller screens */
      margin-top: 0.5rem; /* Space between buttons */
  }
}