.dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .h-100 {
    height: 100%;
  }
  
  .bg-secondary {
    background-color: #000000;
  }
  
  .rounded {
    border-radius: 0.25rem;
  }
  
  .p-4 {
    padding: 1rem;
  }
  
  .d-flex {
    display: flex;
  }
  
  .align-items-center {
    align-items: center;
  }
  
  .justify-content-between {
    justify-content: space-between;
  }
  
  .mb-4 {
    margin-bottom: 1rem;
  }
  
  .mb-0 {
    margin-bottom: 0;
  }
  
  .calender {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .react-calendar {
    max-width: 100%;
    background-color: #868686;
    border: 1px solid #222222;
    font-family: Arial, sans-serif;
    line-height: 1.125rem;
    font-size: 0.875rem;
    -webkit-user-select: none;
  }
  
  .react-calendar--doubleView {
    width: 100%;
  }
  
  .react-calendar__navigation {
    height: 2.5rem;
    margin-bottom: 1rem;
  }
  
  .react-calendar__navigation button {
    min-width: 2.5rem;
    background-color: transparent;
    border: none;
    vertical-align: middle;
    padding: 0;
    cursor: pointer;
  }
  
  .react-calendar__navigation button:enabled:hover,
  .react-calendar__navigation button:enabled:focus {
    background-color: #e6e6e6;
  }
  
  .react-calendar__navigation button[disabled] {
    cursor: default;
    background-color: transparent;
  }
  
  .react-calendar__navigation button svg {
    fill: #333;
  }
  
  .react-calendar__navigation button:enabled:hover svg,
  .react-calendar__navigation button:enabled:focus svg {
    fill: #000;
  }
  
  .react-calendar__month-view__weekdays {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.75rem;
  }
  
  .react-calendar__month-view__weekdays__weekday {
    padding: 0.5rem;
  }
  
  .react-calendar__month-view__days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 0;
    padding: 0;
  }
  
  .react-calendar__month-view__days__day {
    flex: 1 0 14.2857%;
    max-width: 14.2857%;
    padding: 0.5rem;
    text-align: center;
    font-size: 0.875rem;
  }
  
  .react-calendar__tile {
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    padding: 0.75rem 0.5rem;
  }
  
  .react-calendar__tile:disabled {
    background-color: transparent;
  }
  
  .react-calendar__tile--now {
    background: #e6e6e6;
  }
  
  .react-calendar__tile--now:enabled:hover,
  .react-calendar__tile--now:enabled:focus {
    background: #d8d8d8;
  }
  
  .react-calendar__tile--hasActive {
    background: #76baff;
  }
  
  .react-calendar__tile--hasActive:enabled:hover,
  .react-calendar__tile--hasActive:enabled:focus {
    background: #5c93e8;
  }
  
  .react-calendar__tile--active {
    background: #006edc;
    color: white;
  }
  
  .react-calendar__tile--active:enabled:hover,
  .react-calendar__tile--active:enabled:focus {
    background: #1087ff;
  }
  
  .react-calendar__tile--rangeStart,
  .react-calendar__tile--rangeEnd {
    background: #0a8dff;
    color: white;
  }
  
  .react-calendar__tile--rangeStart:enabled:hover,
  .react-calendar__tile--rangeEnd:enabled:hover,
  .react-calendar__tile--rangeStart:enabled:focus,
  .react-calendar__tile--rangeEnd:enabled:focus {
    background: #006edc;
  }
  
  .react-calendar__tile--rangeStart {
    border-radius: 50% 0 0 50%;
  }
  
  .react-calendar__tile--rangeEnd {
    border-radius: 0 50% 50% 0;
  }
  
  .react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #e6e6e6;
  }
  