@import url(https://fonts.googleapis.com/css?family=Dancing+Script:400,700);

body {
    background: #f5f5f5;
    font-family: "work sans";
}

.mb-4.pb-3 {
    font-weight: bolder;
    font-family: 'Dancing Script';
    color: #6c5ce7;
}

.form-group i {
    color: #7a69e6;
    font-size: larger;
}

.submitButton {
    background-color: #6c5ce7;
    box-shadow: 0 5px 15px rgba(92, 179, 182, 0.8);
    text-shadow: 0 5px 15px rgba(255, 255, 255, 0.4);
    text-transform: uppercase;
}

.submitButton:hover {
    background-color: #d4cdcd;
    box-shadow: 0 5px 15px rgba(58, 110, 110, 0.8);
}

.login-card {
    margin: 1%;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    box-shadow: 0px 0px 20px 10px rgba(0, 255, 255, 0.719);
    background-color: #f5f5f5;
    border-radius: 1rem;
    padding: 2%;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.or {
    color: #7a69e6;
}

.social-links li {
    list-style: none;
    margin: 0 10px;
}

.social-links a {
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #6c5ce7;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.social-links a:hover {
    box-shadow: 0 5px 15px rgba(75, 136, 172, 0.8);
    background-color: #483d8b;
}

.social-links i {
    font-size: 20px;
    color: #f5f5f5;
}

/* Responsive styles */
@media (max-width: 768px) {
    .social-links {
        margin-top: 20px;
    }

    .social-links li {
        margin: 0 5px;
    }

    .social-links a {
        width: 30px;
        height: 30px;
    }

    .social-links i {
        font-size: 16px;
    }

    .login-card {
        width: 90%;
        margin: 1rem 5%;
        padding: 1rem;
    }

    .mb-4.pb-3 {
        font-size: 1.5rem;
    }

    .form-group i {
        font-size: medium;
        padding: 0.2rem;
    }

}