center h2{
    padding: 1rem;
    font-weight: 700;
}

.how-it-works{
    margin-left: -10px;
    align-self: start;
    display: flex;
    flex-direction: row;
}

.rightHow .features{
    display: flex;
    flex-direction: column;
}